<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"   thread-count="5" >
	<listeners>
        <listener class-name="evs.com.listener.CustomTestListener"/>
    </listeners>
    
      <parameter name="browser" value="chrome"></parameter>
      <parameter name="url" value="https://learning.projects-codingbrains.com/"></parameter>
	<parameter name="Username" value="codingbrains13@gmail.com"></parameter>
	<parameter name="Password" value="Admin@1234"></parameter>
	
	
  <test  name="Test1">
    <classes>
      <class name="com.evs.vtiger.testScript.Tasks"/>
      <class name="com.evs.vtiger.testScript.SuperAdmin"/>
    </classes>
  </test> <!-- Test -->
  
  
  
<!--  <test  name="Test2">-->
<!--        <parameter name="browser" value="firefox" />-->
<!--        <parameter name="Username" value="codingbrains13@gmail.com"></parameter>-->
<!--        <parameter name="Password" value="Admin@1234"></parameter>-->
<!--        <classes>-->
<!--            <class name="com.evs.vtiger.testScript.Admin" />-->
<!--        </classes>-->
<!--    </test>-->
  
  
</suite> <!-- Suite -->
	